body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif, 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji';
    background-color: rgba(255, 192, 203, 0.295);
    margin: 0;
    padding: 0;
}

.appWrapper{
    text-align: center;
}

.weatherForm{
    margin: 10px 20px 0 20px;
    text-align: center;
}
label {
    font-size: 1.5em;
    font-weight: bold;
    color: #39a3c4;
}
#zipver{
    display: none;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid lightblue;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
.otherInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid lightblue;
    border-radius: 10px;
    margin: 10px;
    width: 330px;
}

button[type="submit"]{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #39a3c4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .25s;
}

button[type="submit"]:hover{
    background-color: #72cce7;
}
.searchOptions button {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #c09ece;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .25s;
    margin: 5px 5px 0 5px;
}
.searchOptions button:hover{
    background-color: #896497;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #a8c8ff 5%,#ffbbaa 26%,#ffbbaa 37%,#fd89d7 65%,#fd89d7 73%,#7535ff 96%);
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    min-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    margin-top: 0;
}

p{
    font-size: 1.5rem;
    margin:  5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.text {
    text-align: center;
    background-color: white;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 10px;
    max-width: 700px;
}

/* To-Do */
 
.things2add {
    width: 250px;
    padding: 10px;
    background: #b2edff5e;
    bottom: 20px;
    right: 0;
    position: fixed;
    border-left: 5px white solid;
    border-top: 5px white solid;
}
 
.titling {
    font-family: Helvetica;
    -webkit-text-stroke: 1px #c3a9ff;
    font-size: 1.6em;
    text-align: center;
    color: white;
    height:1em;
    font-weight: bold;
}
.scrollbox {
    height: 3em;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    }

.scrollbox::-webkit-scrollbar{
    display: none;
}

.scrollbox p {
    font-family: Helvetica;
    font-size: 1.1em;
    color: #424242;
    text-align: center;
    display: block;
    text-align: left;
    padding-top: 10px;
}
.scrollbox p::before{
    content: "★";
    margin-right: 5px;
    color: #82d4e2;
}
.scrollbox p:last-child::before{
    content: "★";
    margin-right: 5px;
    color: #c782e2;
}