#top_banner {
    display: none;
}

#top_banner:before {
    content: '';
    display: inline-block;
    width: 15pt;
    height: 15pt;
    /* ! Change this when you upload */
    /* background-image: url('https://pearliasystem.neocities.org/assets/pixels/lily2.webp');  */
    background-size: 100% 100%;
    margin-right: 5px;
}

#background {
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.msgWrapper {
    font-family: rainyhearts;
}

.allMessages {
    font-family: rainyhearts;
}

.senderInfo {
    font-weight: bold;
    color: #6f83c8;
}

.mod,
.owner,
.role {

}

.sent {

}

.recieved {

}

.msgBody {

}

#background {

}

#input {
    font-family: rainydays;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

#input:empty::before {
    color: white;
    font-family: basiic;
    font-size: small;
}

#input {
    background: #BED3E4;
    border-radius: 0;
}

#settings {
    margin-right: 5px;
    color: #BED3E4;
}

.owner:before {
    margin-right: 5px;
    color: #BED3E4;
}