.ffButtons{
    color: white;
    background-color: #39a377;
    border: 1px solid #FF9AE4;
    font-family: basiic;
    padding: 3px 5px;
    transition: background-color .25s;
  }
  .ffButtons:hover{
    background-color: #22838a;
  }