/* ! Make sure you add GSAP to every page this is on! */

#nowPlaying {
    position: fixed;
    top: 0;
    right: 10em;

    pointer-events: none;

    z-index: 200;
}

#cloudPlayer {

    transform: translateY(-400px);

    transition: transform 1s;
    pointer-events: none;

    font-family: rainyhearts;
}

#cloudPlayer.visible {
    transform: translateY(-20px);

    pointer-events: all;
}

#graphicParent {
    position: relative;
}

#swingGroup {
    pointer-events: all;
}

#star {
    transition: filter .25s;

    /* color: gray; */
}

#star:hover {
    cursor: pointer;

    filter: drop-shadow(0 0 30px yellow)
}

#details {
    position: absolute;
    left: 4rem;
    top: 13rem;

    width: 180px;

    margin: 0; 
    text-align: center;
}

#details p {
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.controlsWrapper{
    display: flex;
    gap: 5px;
}

#MusicPauseButton {
    display: block;
    width: 32px;
    background-color: var(--RP6);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    text-align: center;

    transition: all .25s;
}

#MusicPauseButton:hover {
    background-color: var(--RP2);
    color: black;
}

#volumeSlider {
    flex: 1 1;
    margin-top: 10px;

    width: 110px;
    height: 10px; 
    border-radius: 5px;
    outline: none; 
    opacity: 1;
    transition: opacity 0.3s;
}


#volumeSlider::-webkit-slider-runnable-track {
    background: white;
    border-radius: 5px;
    border: 1px solid var(--OP1);
}

#volumeSlider::-webkit-slider-thumb {
    width: 20px; 
    height: 20px; 
    background: var(--OP1); 
    border-radius: 50%; 
    cursor: pointer;
}

#volumeSlider::-moz-range-track {
    width: 110px;
    height: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid var(--OP1);
}

#volumeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--OP1);
    border-radius: 50%;
    cursor: pointer;
}