@import url("/css/general/globals.css");

body {
    height: 100vh;
    background: url(../img/edit.png) -3em/cover;

    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    gap: 10px;
}

#logo {
    width: 80%;
}

spacing {
    flex: 1;
}

button {
    background-color: #FFF98C;
    border: 3px solid black;

    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;


    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: rotate(-2deg);
}