@import url("../blogstyleT.css");

@font-face {
    font-family: basiic;
    src: url('/fonts/basiic.ttf');
}

@font-face {
    font-family: porkys;
    src: url('/fonts/PORKYS_.TTF');
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'basiic';
    color: black;

    animation: fadeInAnimation ease .55s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: #fffaeb;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#wrapper {
    height: 100vh;
}

.flex {
    display: flex;
}

.columnflex {
    display: flex;
    flex-flow: column nowrap;
}

.scrollbox {
    overflow: auto;
    max-height: 120px;
}

header {
    display: flex;
    order: 1;
    padding: 10px;

    border-bottom: 5px solid white;
    padding-left: 260px;
}

/* Navbar */

aside {
    position: fixed;
    width: 250px;
    height: 100vh;

    left: -250px;
    top: 0;

    border-right: 5px solid white;
}

.open-icon {
    position: fixed;
    left: 5px;
    text-decoration: none;
    padding: 2px 5px;
}

.close-icon {
    position: absolute;
    right: 15px;
    top: 23px;
    text-decoration: none;
    font-size: 1.4rem;
    width: max-content;
    display: none;
}

.show {
    transition: left 0.8s linear;
    left: 0px;
}
.hide {
    transition: left 0.8s linear;
    left: -250px;
}

#asideHeader {
    width: 150px;
    margin: 20px auto;
}

aside a{
    width: 80%;
    margin: 0 auto 15px;
}

.buttons {
    font-family: porkys;
    font-size: 2em;
    color: white;
    width: 100%;
    cursor: pointer;

    transition: all .25s ease-in-out;
}

.buttons::after {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;

    transition: all .25s ease-in-out;
    width: 100%;
    max-width: 180px;
    height: 0;
}

.buttons:hover::after {
    width: 100%;
    max-width: 200px;
    height: 45px;
    margin-top: -35px;
}

/* Layout */

main{
    padding: 30px 0;
    padding-left: 255px;
    order: 2;
}

.entry{
    flex: 1 1 700px;
    padding: 30px 40px;
    min-height: 700px;
}


/* Decor */

/* Borders */

/* General Styles*/

p{
    margin: 10px 0 0;
}

hr{
    width: 90%;
    border: 5px solid #ff5395;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    height: max-content;
    margin: 0;
    font-family: porkys;
}

h1 {
    width: 60%;
    font-size: 4em;
    padding: 5px 10px;
    border-radius: 30px;
}

h3{
    color: #5398ff;
    font-size: 3em;
}

h4{
    color: #5398ff;
}

.tagline{
    font-size: large;
}

.tags,
.timestamp {
    text-align: right;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.tags {
    font-size: 15px;
}

.timestamp {
    font-size: 10px;
}

@media(max-width: 915px) {
    header{
        flex-flow: column wrap;
        height: auto;
        padding: 0;
    }
    h1{
        width: 100%;
        font-size: 5em;
        text-align: center;
        padding: 5px 0px;
    }
    header form{
        width: 100%;
    }
    .close-icon{
        display: block;
    }
    main {
        padding: 0;
    }
    .flex{
        flex-flow: column nowrap;
    }
}
  
  @media(max-width: 500px) {
    body {
        background-size: 3em;
    }
    h1{
        font-size: 2em;
    }
}