body {
    background: url('/assets/backgrounds/haibisukasu01b.gif');
    background-size: 7em;
}

header {
    background: url('/assets/backgrounds/haibisukasu01g.gif');
    background-size: 5em;
}

#searchbar {
    border-top: 3px solid #ff5395;
    border-left: 3px solid #ff5395;
    border-bottom: 3px solid #ff5395;
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}


#searchbtn{
    background: white;
    border-top: 3px solid #ff5395;
    border-right: 3px solid #ff5395;
    border-bottom: 3px solid #ff5395;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

aside {
    background: url('/assets/backgrounds/haibisukasu01g.gif');
    background-size: 5.5em;
}

.open-icon{
    background-color: #ffffff;
    border-right: 5px solid #ff5b84;
    border-bottom: 5px solid #ff5b84;
}

.buttons {
    background-color: #ff5b84;
    border: 3px white solid;
}

.buttons::after {
    border: 2px solid #ff5b84;
}

.buttons:hover {
    background-color: #ce2952;
}

.buttons:active{
    background-color: #961434;
}

#asideHeader {
    -webkit-filter: drop-shadow(3px 3px 0 #7affde) drop-shadow(-3px -3px 0 #7affde);
    filter: drop-shadow(3px 3px 0 #7affde) drop-shadow(-3px -3px 0 #7affde);
}

h1 {
    background-color: #ffffb3;
    color: #ff5b84;
    -webkit-text-stroke: white 1px;
    border-radius: 30px;
}

h2{
    color: #ff5b84;
    margin-bottom: 10px;
    text-decoration: underline double 3px #7affde;
}
h2:before {
    content: '';
    display: inline-block;
    height: 60px;
    width: 37px;
    background-image: url(/assets/pixels/lemons.webp);
    background-size: contain;
    margin-right: 5px;
}


.border {
    border-width: 8px;
    border-style: solid;
    border-image: url("/assets/borders/bejewelled.gif") 8 fill round;
  }