:root {}

@font-face {
    font-family: basiic;
    src: url('/fonts/basiic.ttf');
}

@font-face {
    font-family: peach;
    src: url('/fonts/peachsundress.ttf');
}

@font-face {
    font-family: BTS;
    src: url('/fonts/BackToSchool.ttf');
}
body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/backgrounds/forest.jpeg);
    background-size: cover;
    background-attachment: fixed;
    animation: fadeInAnimation ease .55s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    font-family: basiic;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#wrapper{
    display: flex;
    flex-flow: column nowrap;

    width: 70%;
}

table.outlinks {
    background-color: #009185;
    color: white;
}

table td:first-child {
    width: 99px;
    height: 31px;
}

table td:last-child {
    width: 80%;
}
.scrollbox{
    max-height: 100px;
    overflow: auto;
}

table.outlinks td,
table.outlinks th {
    border: 5px solid #ff0077;
    vertical-align: middle;
}

table.outlinks th:first-of-type{
    background-color: #ff0077;
}

#lotus{
    width: 90px;
}

table.outlinks th {
    font-family: BTS;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: normal;
}



table.outlinks thead {
    background-color: #ffacd6;
}

 table.outlinks a {
    color: #004c79;
    text-decoration: none;
    position: relative;


    padding: 5px;
    border-radius: 5px;

    transition: ease .25s all;

}

table.outlinks a:hover {
    background-color: #ffa8b7;
    color: #004c79;
}

table td:first-child a:hover {
    background-color: transparent;
}

#back{
    display: block;
    margin-left: auto;
}

/* Other Styling */

p{
    color: white;
    margin: 0;
}

@media only screen and (max-width: 500px) {

    #wrapper{
        flex-flow: column wrap;
    }
    body{
        background-image: url(/assets/butterfliesNflowers.png);
        background-size: 50%;
        background-attachment: scroll;
    }
}