@import url("/css/nowplaying!.css");

:root {
    --blurple: #b1adff;
}

@font-face {
    font-family: basiic;
    src: url('/fonts/basiic.ttf');
}

@font-face {
    font-family: RainbowMemories;
    src: url('/fonts/RainbowmemoriesScript.ttf');
}

@font-face {
    font-family: Chopin;
    src: url('/fonts/ChopinScript.ttf');
}

@font-face {
    font-family: billo;
    src: url('/fonts/BILLO.TTF');
}

@font-face {
    font-family: Femme;
    src: url('/fonts/FEMMEF.ttf');
}

@font-face {
    font-family: jungle;
    src: url('/fonts/Thickjungle.ttf');
}

@font-face {
    font-family: NORMAL;
    src: url('/fonts/OMORI_GAME2.ttf');
}

@font-face {
    font-family: Omekashi;
    src: url('/fonts/omekashi.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100vw;


    font-family: basiic;
    font-size: 15px;
    background-image: url(/assets/backgrounds/movestarbackground.gif);
    background-size: 200px;

    animation: fadeInAnimation ease .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#wrapper {
    width: 85vw;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Main Display */

main {
    background: #ececec;
    border-radius: 0 0 20px 20px;

    padding: 40px 30px;
    height: 100%;
}

#maintxt{
    background: white;
    padding: 20px;

}

#maintxt p{
    margin: 0;
}

#maintxt img, #maintxt canvas{
    vertical-align: text-bottom;
}

#allButtons{
    gap: 45px;
    align-content: flex-start
}

/* Header */

header {
    align-items: center;
    padding: 0 20px;

    background: #1f768b;
    border-bottom: 10px solid #ffa8cc;

    gap: 15px;
}

#headerDetail {
    display: flex;
    flex: 1 1;
    position: relative;

    max-height: 70px;
    overflow: hidden;

    border: 3px solid #ffa8cc;
    border-radius: 999px;
}

#headerDetail .marquee {
    display: flex;
    animation: marquee 30s linear infinite;
}

#headerDetail img, #headerDetail canvas  {
    width: 230px;
    flex: 0 1 auto;

    height: 140px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#stats p{
    padding: 10px 20px;
    text-align: right;
    margin-left: auto;
    width: 40%;

    background-color: #ffa8cc;
    border-right: 6px dashed white;
    border-left: 6px solid #1f768b;

    border-radius: 20px 0 0 20px;

    font-size: 1.2em
}

/* Main */

.buttonWrapper {
    display: flex;

    text-decoration: none;
    position: relative;

    width: 350px;
    max-height: 230px;
    height: auto;

    align-items: flex-end;

    filter: grayscale(100%) sepia(20%);
    transition: filter .25s ease-in-out;
}

.buttonWrapper:hover {
    filter: none;
}

.systemButton {
    display: flex;

    width: 350px;
    height: 200px;

    background: #999999;
    /* Base Color! */
}

.floaters {
    position: absolute;
}

.systemButton p {
    position: absolute;
    margin: 0;

    align-self: end;
    right: 10px;

    z-index: 5;
}

.buttonWrapper > .hidden {
    position: absolute;
    max-height: 250px;
    width: 350px;
    overflow: hidden;
    z-index: 4;

}

/* Specifics */

#Hanako {
    border: 10px solid #93c5ff;
    border-radius: 40px;

    background: url("/members/memberSpecific/Hanako/frame0.gif");
    background-position: right;
}

#HanakoWrapper:hover>#Hanako {
    background: url("/members/memberSpecific/Hanako/water.gif");
    background-position: right;
}

#HanakoWrapper .hidden {
    border-radius: 40px;
    bottom: 10px;
}

#Hanako p {
    font-family: Chopin, Times, serif;
    font-size: 6em;

    -webkit-text-stroke: .3px #b97cff;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);

    bottom: -20px;
}

.water {
    background-image: url(/assets/backgrounds/waterframe0.gif);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--deepblue);
}

#HanakoWrapper:hover>#Hanako>.water {
    background-image: url(/assets/backgrounds/water.gif);
}


#kokomi {
    width: 400px;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
    transform: translateY(0);
}

#HanakoWrapper:hover>.hidden>#kokomi {
    animation: kokofloat 2s infinite ease-in-out;
}

@keyframes kokofloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

#KKMfish {
    width: 200px;
    left: -90px;
    top: -10px;
    transform: translateX(20px) translateY(0) scaleX(-1) rotate(-10deg);

    z-index: 6;
}

#HanakoWrapper:hover>#KKMfish {
    animation: fishfloat 2s infinite ease-in-out;
}

@keyframes fishfloat {
    0% {
        transform: translateX(20px) translateY(0) scaleX(-1) rotate(-10deg);
    }

    50% {
        transform: translateX(25px) translateY(5px) scaleX(-1) rotate(-15deg);
    }

    100% {
        transform: translateX(20px) translateY(0) scaleX(-1) rotate(-10deg);
    }
}

#KKMshell {
    width: 120px;
    z-index: 5;

    right: -30px;
    bottom: -20px;

    transform: rotate(140deg);
}


#HanakoWrapper:hover>#KKMshell {
    animation: shellmove 2s infinite ease-in-out;
}

@keyframes shellmove {
    0% {
        transform: rotate(140deg);
    }

    50% {
        transform: rotate(145deg);
    }

    100% {
        transform: rotate(140deg);
    }
}

/* Hanako Finished */

#HanaWrapper:hover>#Hana {
    background: url("/members/memberSpecific/Hana/sparklesky.gif");
    background-clip: padding-box;
}

#HanaWrapper .hidden {
    bottom: 14px;
}

#Hana {
    border-width: 14px;
    border-style: solid;
    border-image: url("/assets/borders/laceborder.png") 14 round;
    background: url("/members/memberSpecific/Hana/frame0.gif");
    background-clip: padding-box;
}

#Hana p {
    font-family: billo;
    font-size: 5em;
    padding-right: 10px;

    -webkit-text-stroke: .9px black;
    color: #bfb4ff;

    bottom: -10px;
}

#HNmiku {
    width: 350px;
    transform: translateY(0);

    filter: drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white);

    transform: rotate(0deg);
}

#HanaWrapper:hover>.hidden>#HNmiku {
    animation: hnmikumove 4s infinite;
}

@keyframes hnmikumove {
    0% {
        transform: translateY(0) rotate(0);
    }

    33% {
        transform: translateY(0) rotate(3deg);
    }

    66% {
        transform: translateY(0) rotate(-3deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

#HNwings {
    top: 10px;
    left: 10px;
    transform: rotate(-10deg);
    z-index: 10;

    width: 135px;
}

#HNcloud {
    bottom: 30%;
    right: 20px;
    transform: rotate(-10deg);
    z-index: 10;
}

/* Hana Finished */

#MillieWrapper .hidden {
    bottom: 10px;
    left: 6px;
}

#Millie {
    border-style: solid;
    border-width: 11px;
    border-image: url("/assets/borders/blacklace-Solaria.png") 14 round;
    background: url("/assets/backgrounds/stars5.gif");
    background-clip: padding-box;
}

#Millie p {
    font-family: Femme;
    font-weight: bold;
    font-size: 8em;
    padding-right: 10px;

    color: #ff6139;
    -webkit-text-stroke: .2px white;
}

#MillsandMox {
    width: 300px;

    -webkit-filter: drop-shadow(3px 3px 0 #ffffff) drop-shadow(-3px -3px 0 #818181);
    filter: drop-shadow(3px 3px 0 #818181) drop-shadow(-3px -3px 0 #ffffff);
}

/* Millie Finished */

#GeraldineWrapper .hidden {
    bottom: 12px;
}

#Geraldine {
    border-width: 14px;
    border-style: solid;
    border-image: url("/assets/borders/cherryborder.png") 17 round;

    background: url("/assets/backgrounds/stardew.png");
    background-size: cover;
    background-clip: content-box;
}


#Geraldine p {
    font-family: Jungle;
    font-weight: bold;
    font-size: 4em;
    padding-right: 10px;

    color: #ff6139;
    -webkit-text-stroke: .2px white;
}

#GDPicrew {
    width: 200px;
    transform: translateX(150px) scaleX(-1);
}

#junimo {
    bottom: 10px;
    width: 190px;
    z-index: 6;
}

/* Geraldine Finished */

#TIAWrapper .hidden {
    bottom: 7px;
    filter: hue-rotate(0);
}

#TIA {
    border-top: 10px dashed white;
    border-left: 10px dashed #ff56be;
    border-right: 10px dashed #6756ff;
    border-bottom: 10px dashed black;

    background: url("/assets/backgrounds/stars.gif");
    background-size: 30%;
}

#TIAWrapper:hover {
    animation: colorchange 15s infinite;
}

@keyframes colorchange {
    0%{
        filter: hue-rotate(0);
    }

    50%{
        filter: hue-rotate(360deg);
    }

    100%{
        filter: hue-rotate(0);
    }
}

#TIA p {
    font-family: Omekashi;
    font-weight: bold;
    font-size: 2.3em;
    text-align: left;
    padding: 0 10px;

    color: #aafcff;
    background-color: black;
    border-radius: 20px 0 0 20px;
    width: 84%;

    top: 25%;
    z-index: 6;
}

#kangel{
    width: 330px;
}

/* Pastel Goth Finished */

#MARIWrapper .hidden {
    display: flex;
    justify-content: center;
    bottom: 14px;
}

#MARI {
    border-width: 14px;
    border-style: solid;
    border-image: url("/OMORI/img/picnic.jpg") 17 round;

    background:
        url("/OMORI/img/Space_parallax_stars.png"),
        #6C0FFF;

    background-size: 250%;
    background-position: 0;
    background-clip: content-box;
}

#MARIWrapper:hover>#MARI {
    animation: slide 30s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -250%;
    }
}

#MARI p {
    font-family: Normal;
    font-weight: bold;
    font-size: 3em;
    
    width: fit-content;
    padding: 0 20px;
    background-color: black;
    border: 3px solid white;
    outline: 3px solid black;
    border-radius: 5px;
    box-sizing: content-box;
    color: white;
}


#MARIFriends {
    width: 94%;
}

/* MARI Finished */

/* General */

h1 {
    font-family: 'RainbowMemories', Times, serif;
    color: white;
    font-size: 2.8em;
}

planet{
    font-size: 4em;
    padding: 0;

    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white);
}

h2 {
    font-family: 'RainbowMemories', Times, serif;
    color: #ff7373;
    font-size: 2.8em;
}

/* Other */

.flex {
    /* Main Flex*/
    display: flex;
    flex-flow: row wrap;
}

.flex2 {
    /* Becomes column wrapped on mobile*/
    display: flex;
    flex-flow: row wrap;
}

.blockimages {
    width: 40%;
    margin: 10px 20px;
}


/* Custom Cursor from Cursors4U */
* {
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;
}

/* Custom Cursor from Cursors4U */


/* Media Queries*/

@media (prefers-reduced-motion: reduce) {
    body {
        background-image: url(/assets/backgrounds/movestarbackgroundF.gif);
    }
}

@media only screen and (max-width: 810px) {

    body{
        width: 100%;
        overflow-x: hidden;
    }

    header {
        align-items: flex-end;
        padding: 10px 20px 10px 0;
    }

    h1, h2{
        font-size: 1.8em;
    }

    planet{
        display: none;
    }

    #wrapper {
        width: 100%;
        height: 100%;
    }

    .flex {
        flex-flow: row wrap;

    }

    .flex2 {
        flex-flow: column nowrap;
    }

    #headerDetail {
        width: 90%;
        margin: 0;
    }

    main {
        border-radius: 0;
        padding: 50px 10px 0;

        overflow-x: hidden;
    }

    .buttonWrapper {
        filter: grayscale(0);
    }

    #stats p{
        width: 90%;
        padding: 10px;
    }
}

@media only screen and (max-width: 576px) {}