#top_banner {
    background: #00b5ad;
}

#top_banner:before {
    display: inline-block;
    width: 15pt;
    height: 15pt;
    content: ' ';
    background-image: url('https://pearliasystem.neocities.org/assets/pixels/lily2.webp');
    background-size: 100% 100%;
    margin-right: 5px;
}

#background {
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.msgWrapper {
    font-family: basiic;
}

.allMessages {
    font-family: basiic;
}

.senderInfo {
    font-weight: bold;
    color: #ff6095;
}

.mod,
.owner,
.role {

}

.sent {

}

.recieved {

}

.msgBody {

}

#background {

}

#input {
    font-family: basiic;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

#input:empty::before {
    color: white;
    font-family: basiic;
    font-size: small;
}

#input {
    background: #00b5ad;
}

#settings {
    margin-right: 5px;
    color: #00b5ad;
}

.owner:before {
    margin-right: 5px;
    color: #00b5ad;
}