@import url("jaxframe.css");

@font-face {
    font-family: basiic;
    src: url('/fonts/basiic.ttf');
  }
  
  @font-face {
    font-family: peach;
    src: url('/fonts/peachsundress.ttf');
  }

  @font-face {
    font-family: Dellina;
    src: url('/fonts/DellinaMonogram.ttf');
}

/* Main Layout */
  
  body {
    font-family: 'basiic';
    margin: 0;
    background-color: #1ab399;
    color: #8a8a8a;
    animation: fadeInAnimation ease .75s;
    overflow: hidden;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;   
    }
  }
  
  #container {
    background: url('/assets/tumblr_mb0595hJYH1qcm0eto1_r1_1280.png');
    background-repeat: repeat;
    background-size: 50%;
    position: relative;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
  }
  
  #container a {
    color: #34b680;
    font-weight: bold;
  }
  
  #flex {
    display: flex;
    flex-flow: row wrap;
  }
  
  main {
    display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    padding: 10px;
    width: 800px;
    z-index: 30;
    margin: 0 auto;
  }
  
  footer {
    display: flex;
    flex: 1;
    background-color: transparent;
    padding: 0px;
    width: 820px;
    z-index: 30;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  leftside,
  rightside {
    background-color: white;
    border-width: 7px;
    border: solid 5px #FFCEE7;
    border-radius: 10px;
    margin-right: 5px;
    padding: 20px;
    height: 350px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  leftside {
    flex-basis: 45%;
  }
  
  leftside::-webkit-scrollbar {
    display: none;
  }
  
  rightside {
    flex-basis: 50%;
  }
  
  rightside::-webkit-scrollbar {
    display: none;
  }

  .warnings{
    display: flex;
    justify-content: center;
    gap: 20px;

    background-color: #ffd4e6;
    border: 5px solid #009721;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
  }

  .warnings p{
    color: #22838a;
    text-align: center;
    margin: 0;
  }

  .warningsIMGs{
    display: block;
    width: 70px;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 5px;

    border-bottom: 2px solid #22838a;
  }
  
  #counter {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #enter {

    font-family: Dellina;
    font-size: 3.5em;
    text-align: center;

    color: #f72b91;
    border: 5px solid #22838a;
    border-radius: 5px;

    height: auto;
    display: block;

    margin: 0;

    margin-left: auto;
    margin-right: auto;
  }

  #divider {
    width: 25s0px;
    height: auto;
    display: block;
    margin-left: auto;
  }

  #border {
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: 0;
    z-index: 998;
    pointer-events: none;
    background-color: transparent;

    background-image: url('/assets/myAssets/border.png'), url('/assets/myAssets/Lights.png'), url('/assets/myAssets/Lights2.png');
    background-size: cover, contain, contain;
    background-position: center, 0px 200px, 0px 100px;
    background-repeat: no-repeat;
  }

  .lights1 {
    background-size: 40%;
    background-position: 700px;
  }
  .lights2 {
    background-size: 40%;
    background-position: -200px;
  }

  .grass {
    background: url('/assets/myAssets/grass.png') repeat-x;
    background-size: 100%;
    background-position: 0px 30px;
    position: fixed;
    z-index: 999;
    width: 3000px;
    height: 200px;
    bottom: 0;
    left: -120px;
  }
  
  #filler {
    margin-bottom: 200px;
  }

  a{
    text-decoration: none;
  }
  
  h1,
  h2,
  h3 {
    color: #1ab399;
    font-family: 'peach';
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  h2,
  h3 {
    margin: 2px;
  }
  
  strong {
    color: #c79fc4;
  }
  
  /* Custom Cursor from Cursors4U */
  * {
   * {cursor: url(https://cur.cursors-4u.net/symbols/sym-5/sym431.cur), auto !important;}
  }
  
  /* Custom Cursor from Cursors4U */
  
  .mainborder {
    border-width: 7px;
    border-style: solid;
    border-image: url("/assets/borders/borderfilled.png") 8 fill round;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  /* Media Query! */
  
  @media only screen and (max-width: 830px) {
    body {
      background-image: url('/assets/RuKoA1C.png');
      overflow: scroll;
    }
  
    main {
      flex-flow: row wrap;
      width: auto;
      row-gap: 10px;
    }
  
    footer {
      width: auto;
    }
  
    #container {
      background: none;
      height: auto;
      width: auto;
    }
  
    leftside,
    rightside {
      flex-basis: 100%;
    }
  
    leftside {
      order: 2
    }
  
    rightside {
      order: 1;
    }
  
    #filler {
      margin-bottom: 100px;
    }
  
    #bgcontainer {
      display: none;
    }
  
    #border {
      display: none;
    }
    .grass{
      display: none;
    }
  
    #welcome {
      width: 170px;
    }
  
    .warnings{
      flex-flow: row wrap;
    }
  
    #filler {
      margin-bottom: 100px;
    }
  }