body {
    height: 100vh;
    background: url("/assets/backgrounds/cloudynite.gif");
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}