@import url("general/globals.css");

body {
    height: 100vh;
    display: flex;
}

main {
    display: flex;
    overflow: hidden;
}

main video {
    height: 100%;

    position: relative;
    right: 30%;
}

main div {
    position: relative;
}

main div:first-of-type {
    max-width: 60%;
    overflow: hidden;

    z-index: 0;
}

divider {
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    border-style: solid;
    border-image: url("/Assets/myAssets/laceCircle.png") 90 round;
    background-clip: padding-box;

    border-width: 50px;
    border-right: none;
    border-top: none ;
    border-bottom: none;
}

main div:last-of-type {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
    z-index: 1;
}

h1, h2 {
    font-family: 'Ethereal', sans-serif;
    font-weight: 800;
    color: #728dac;
    text-align: center;
    pointer-events: all;
}

h1 {
    font-size: 10rem;
}

a {
    text-decoration: underline 1px double white;
    text-transform: uppercase;
}

a:hover {
    font-style: italic;
}