@import url("general/globals.css");

body {
    height: 100vh;
    background-color: #b5ceeb;
    color: black;

    display: flex;
    justify-content: center;
}

#particles-js {
    position: absolute;
    width: 100%;

    height: 100%;

    z-index: -1;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    pointer-events: none;
}

main div {
    align-self: center;
    flex: 1;
}

h1, h2 {
    font-family: 'Ethereal', sans-serif;
    font-weight: 800;
    color: white;
    text-align: center;
    pointer-events: all;
}

h1 {
    font-size: 10rem;
}

a {
    text-decoration: none;
}