@import url("general/globals.css");

body {
    height: 100vh;
    background: url("/assets/backgrounds/angelclouds.gif");
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ethereal', sans-serif;
    font-weight: 800;
}