/* General Styles */

    #shrineLinks{
        display: flex;
        flex-flow: row wrap;
        padding: 10px;
        gap: 25px;
        height: 225px;
        overflow: auto;
    }
    .shrineButtonsACT, .shrineButtonsUNF, .shrineButtonsUNS{
        width: 370px;
        height: 200px;
    }

    .shrineButtonsUNS:hover{
        filter: blur(2px) grayscale(100%);
        cursor: pointer;
    }
    .shrineButtonsUNF:hover{
        transform: scale(.9) rotate(-3deg);
        filter: grayscale(75%);
        cursor: pointer;
    }

    .shrineButtonsACT:hover{
        transform: scale(.9) rotate(-3deg);
        cursor: pointer;
    }

    /* That little fuckin pop up*/

    .tooltipWrapper{
        display: flex;
        position: relative;
        overflow: hidden;
        padding: 7px;
    }
    .tooltipWrapper:hover > .tooltip {
        transform: translate(0%);
      }
      
    .tooltip{
        min-width: 60px;
        position: absolute;
        bottom: 8px;
        left: 8px;
        text-align: center;
        background-color: #fffce0;
        color: #8186B3;
        border-radius: 20px;
        padding: 4px;
        border: 4px solid #f9b1ff;
        transition: all 0.3s ease-out;
        transform: translate(-150%);
    }
    
    /* Dividers */

    .strawbDivider {
        background-image: url(assets/pixels/flowerdivider.webp);
        background-size: contain;
        background-repeat: repeat-x;
        width: 100%;
        height: 20px;
    }

    /* Ms Beelzebub Button*/

    #msBeelzebub{
        outline: 7px solid #ffd1ed;
        transition: all .25s ease-in-out;
        border: 5px dashed #e2b0ff;
        border-radius: 25px;
    }

  /* Lore Olympus */

    #loreOlympus{
        width: 370px;
        height: 200px;
        background: url(/shrines/shrineButtons/LO.png) no-repeat;
        background-size: 110%;
        background-position: center;
        transition: all .25s ease-in-out;
        border-width: 30px;
        border-style: solid;
        border-image: url(/shrines/shrineButtons/LOBORDER--FL.png) 48 round;
    }

    /* Helluva Boss */
    #helluvaBoss{
        position: relative;
        outline: 7px solid #ff5252;
        transition: all .25s ease-in-out;
        border-radius: 25px;
    }
    /* OMORI */

    #omori{
        background-color: black;
        background-clip: padding-box;
        padding: 2px;
        object-fit: cover;
        overflow: hidden;
        border: 8px dashed #ffffff;
        outline: 2px solid #000000;
        transition: all .25s ease-in-out;
        border-radius: 25px;
    }

  /* Media Queries */
  @media only screen and (max-width: 768px) { 
    .shrineButtons{
        width: 350px;
        height: 160px;
    }
  }
  
@media only screen and (max-width: 500px) {
    #shrineLinks{
        flex-flow: column nowrap;
    }
    .shrineButtonsACT, .shrineButtonsUNF, .shrineButtonsUNS{
        width: 300px;
        height: 150px;
    }
    #loreOlympus{
        width: 300px;
        height: 150px;
        background-size: 105%;
    }
  }